# Pandas

In [21]:
import pandas as pd

In [22]:
from pandas import Series, DataFrame

In [23]:
obj = pd.Series([10,11,12,13])

In [24]:
obj

0    10
1    11
2    12
3    13
dtype: int64

In [25]:
obj.values

array([10, 11, 12, 13], dtype=int64)

In [26]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [27]:
#we can manually set the value of index
obj1 = pd.Series([13,25,56,85],index = ['a','b','c','d'])

In [28]:
obj1

a    13
b    25
c    56
d    85
dtype: int64

In [29]:
obj1['b']

25

In [30]:
obj1['c']=100

In [31]:
obj1['c']

100

In [41]:
obj1['z']=1111
obj1

a      13
b      25
c     100
z    1111
dtype: int64

In [32]:
del obj1['d']

In [33]:
obj1

a     13
b     25
c    100
dtype: int64

In [34]:
index=[1,2,3,4,5,6]

In [37]:
obj2 = pd.Series(["apple","orange","red","green","blue","black"],index=index)

In [38]:
obj2

1     apple
2    orange
3       red
4     green
5      blue
6     black
dtype: object

In [39]:
obj2[5]="brown"

In [42]:
obj2

1     apple
2    orange
3       red
4     green
5     brown
6     black
dtype: object

In [43]:
obj2[7]="yellow"

In [44]:
obj2

1     apple
2    orange
3       red
4     green
5     brown
6     black
7    yellow
dtype: object

In [45]:
del obj2[3]
obj2

1     apple
2    orange
4     green
5     brown
6     black
7    yellow
dtype: object

In [47]:
obj2[[2,5,1]]

2    orange
5     brown
1     apple
dtype: object

In [48]:
obj2 =="black"

1    False
2    False
4    False
5    False
6     True
7    False
dtype: bool

In [49]:
obj2 =="banana"

1    False
2    False
4    False
5    False
6    False
7    False
dtype: bool

In [51]:
obj2[obj2=="brown"]

5    brown
dtype: object

In [54]:
obj2 * 2

1      appleapple
2    orangeorange
4      greengreen
5      brownbrown
6      blackblack
7    yellowyellow
dtype: object

In [58]:
print("apple "*5)

apple apple apple apple apple

In [59]:
s1 = pd.Series([100,200,300,400,500],index = ["hun","2h","3h","4h","5h"])

In [60]:
s1

hun    100
2h     200
3h     300
4h     400
5h     500
dtype: int64

In [61]:
'6h' in s1

False

In [62]:
'3h' in s1

True

# Creating a series using python dictionary

In [65]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [68]:
s2 = pd.Series(sdata)

In [69]:
s2

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [71]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [78]:
s2 = pd.Series(sdata, index=states)

In [79]:
s2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [82]:
pd.isnull(s2)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [83]:
pd.notnull(s2)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [84]:
s2[pd.isnull(s2)]

California   NaN
dtype: float64

# Data Frame