# Function Application and Mapping

In [32]:
import pandas as pd
import numpy as np

In [33]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),   
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [34]:
frame

               b         d         e
Utah   -0.157931  1.772448 -0.800151
Ohio   -1.639753 -2.338205 -0.813978
Texas  -1.502817 -1.355075 -0.229562
Oregon -1.781837 -1.280127  1.593605

# Sorting and Ranking

In [35]:
obj=pd.Series(range(4), index=['d','a','b','c'])

In [36]:
obj

d    0
a    1
b    2
c    3
dtype: int64

In [37]:
 obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [38]:
 frame = pd.DataFrame(np.arange(8).reshape((2, 4)),                     
                      index=['three', 'one'],                 
                      columns=['d', 'a', 'b', 'c'])

In [39]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [40]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [41]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [42]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [50]:
 obj = pd.Series([4, 7, -3, 2])

In [51]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [52]:
 obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])

In [46]:
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [47]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})

In [55]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [65]:
frame.sort_values(by='b')    #they sort by value from smallest to larger

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [66]:
frame.sort_values(by=['a','b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [80]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [79]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [68]:
 obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [69]:
# Assign tie values the maximum rank in the group
obj.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [70]:
 frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})

In [71]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [72]:
frame.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [73]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [74]:
obj.index.is_unique

False

In [75]:
obj['a']

a    0
a    1
dtype: int64

In [76]:
obj['c']

4

In [77]:
 df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a -0.287382  1.891412 -0.313521
a -0.725819  0.642314  1.204214
b -1.376454  1.862147 -0.984520
b -0.221046  1.166255 -0.102772

In [81]:
df.loc['b']

          0         1         2
b -1.376454  1.862147 -0.984520
b -0.221046  1.166255 -0.102772

In [85]:
#5.3 Summarizing and Computing Descriptive Statistics(Do it yourself)

# Correlation and Covariance

In [1]:
import pandas_datareader.data as web

In [2]:
all_data = {ticker: web.get_data_yahoo(ticker)            
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

ChunkedEncodingError: ('Connection broken: OSError("(10053, \'WSAECONNABORTED\')")', OSError("(10053, 'WSAECONNABORTED')"))

In [ ]:
all_data