# Dictionaires

In [ ]:
dictionary works on key value pair

In [5]:
my_dictionary ={} #its empty dictionay

In [6]:
type(my_dictionary)

dict

In [7]:
len(my_dictionary)

0

In [8]:
my_dictionary={'name':"Mustafa Ilahi"}
#               key  :  value

In [9]:
my_dictionary['name']

'Mustafa Ilahi'

In [12]:
my_dictionary['age']=19

In [13]:
my_dictionary

{'name': 'Mustafa Ilahi', 'age': 19}

In [14]:
del my_dictionary['age']

In [15]:
my_dictionary

{'name': 'Mustafa Ilahi'}

In [16]:
my_dictionary[100]="HelloPakistan"

In [17]:
my_dictionary

{'name': 'Mustafa Ilahi', 100: 'HelloPakistan'}

In [18]:
len(my_dictionary)

2

In [20]:
my_dictionary={'name': 'Mustafa Ilahi', "age": 19 , 'Degree': "Undergraduate"}

In [21]:
#keys()
#values()
#items()

In [22]:
for k in my_dictionary.keys():
    print(k)

name
age
Degree

In [23]:
for k in my_dictionary.values():
    print(k)

Mustafa Ilahi
19
Undergraduate

In [24]:
for k,v in my_dictionary.items():
    print(k,v)

name Mustafa Ilahi
age 19
Degree Undergraduate

In [29]:
for k my_dictionary.keys():
    if my_dictionay[k]

SyntaxError: invalid syntax (<ipython-input-29-69f286e8915b>, line 1)

# Dictionary Methods

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [30]:
100 in [1,2,3,4,5,6,100]

True

In [31]:
'name' in my_dictionary

True

list in list
tupple in list
dictionary in list

tupple in tupple
list in tupple
dictionary in tupple

dictionary in dictionary
list in dictionary
tupple in dictionary

# List in List

In [32]:
a = [1,2,3,4]
b = [2,4,56]
c = [22,33,44,55,a,b]
c

[22, 33, 44, 55, [1, 2, 3, 4], [2, 4, 56]]

In [33]:
c[5][2]

56

# Tupple in list

In [34]:
a = 1,2,3,4,5,6
b = 2,4,6,7
c = [1,2,a,b]
c

[1, 2, (1, 2, 3, 4, 5, 6), (2, 4, 6, 7)]

In [35]:
c[2][5]

6

In [36]:
del c[2]

In [37]:
c

[1, 2, (2, 4, 6, 7)]

# Dictionary in List

In [38]:
alist = [11,22,33,my_dictionary]
alist

[11, 22, 33, {'name': 'Mustafa Ilahi', 'age': 19, 'Degree': 'Undergraduate'}]

In [39]:
alist[3]['Degree']

'Undergraduate'

# tupple in tupple , list in tupple, dictionary in tupple do your self

# Dictionary in dictionary

In [40]:
adict = {'name' : "Pakistan" , 'ages': my_dictionary}
adict

{'name': 'Pakistan',
 'ages': {'name': 'Mustafa Ilahi', 'age': 19, 'Degree': 'Undergraduate'}}

In [41]:
adict['ages']['Degree']

'Undergraduate'

In [43]:
a = []
a.append({"name": "jazzy"})
a

[{'name': 'jazzy'}]