# For Loop

In [1]:
students = ['Mustafa' , 'Mehmood' , 'Hammad' , 'Haziq']

In [3]:
print(students)

['Mustafa', 'Mehmood', 'Hammad', 'Haziq']

In [4]:
for student in students:
    print(student)

Mustafa
Mehmood
Hammad
Haziq

In [5]:
for student in students:
    if student == 'Mustafa':
        print(f'{student} Get out from class')
    else:
        print(f'{student} Get in the class')

Mustafa Get out from class
Mehmood Get in the class
Hammad Get in the class
Haziq Get in the class

In [7]:
for a in 'Pakistan':
    print(a , end = ' ')

P a k i s t a n

In [8]:
for num in range(10):
    print(num , end = ' ')

0 1 2 3 4 5 6 7 8 9

In [9]:
for num in range(1,10):
    print(num , end = ' ')

1 2 3 4 5 6 7 8 9

In [31]:
tableNum = int(input("Enter Table No : "))
for table in range(1,11):
    print(f'{tableNum} * {table} = {tableNum * table}' )

Enter Table No : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [32]:
for num in range(0,25,2): #3rd value is for steps
    print(num, end = ' ')
    #for generate even no's

0 2 4 6 8 10 12 14 16 18 20 22 24

In [33]:
for num in range(1,25,2):
    print(num , end = ' ')
    #for generate odd no's

1 3 5 7 9 11 13 15 17 19 21 23

In [35]:
for num in range(25,0,-1):
    print(num , end = ' ')

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [38]:
tableNum = int(input("Enter Table No : "))
for table in range(1,11):
    if table % 2 == 0:
        continue
    print(f'{tableNum} * {table} = {tableNum * table}' )

Enter Table No : 5
5 * 1 = 5
5 * 3 = 15
5 * 5 = 25
5 * 7 = 35
5 * 9 = 45

In [39]:
tableNum = int(input("Enter Table No : "))
for table in range(1,11):
    if table % 2 == 0:
        break
    print(f'{tableNum} * {table} = {tableNum * table}' )

Enter Table No : 5
5 * 1 = 5

In [1]:
friendList = input('enter name')
for friendList in friendList: 
    friendList = input('Enter your friends name : ')
    if friendList.startswith == 'M' || 'm'):
        
        print('He is your best friend')
        
    else:
        print('He is just friend')

SyntaxError: invalid syntax (<ipython-input-1-20fc13dc59eb>, line 4)

In [2]:
Best_Friend = []
for num in range(10):
    name = input("Enter your friend name: ")
    if name.startswith('a'):
        Best_Friend.append(name)
Best_Friend

Enter your friend name: mus
Enter your friend name: as
Enter your friend name: asa
Enter your friend name: sadasd
Enter your friend name: dasdsadsad
Enter your friend name: dadsad
Enter your friend name: sad
Enter your friend name: asdas
Enter your friend name: asdad
Enter your friend name: sadada

['as', 'asa', 'asdas', 'asdad']

# Nested for loop

In [8]:
for a in [1,2,3]:
    for b in 'jazzy':
        print(a,b)

1 j
1 a
1 z
1 z
1 y
2 j
2 a
2 z
2 z
2 y
3 j
3 a
3 z
3 z
3 y

In [ ]:
tableNum = int(input("Enter Table No : "))
for table in range(1,11):
    print(f'{tableNum} * {table} = {tableNum * table}' )
for newTable in range(1,11):
    new = int(input("Enter new : "))
    print(f'{new} * {newTable} = {new * newTable}' )

Enter Table No : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Enter new : 1
1 * 1 = 1
Enter new : 3
3 * 2 = 6
Enter new : 6
6 * 3 = 18
Enter new : 1
1 * 4 = 4
Enter new : 2
2 * 5 = 10
Enter new : 1208
1208 * 6 = 7248
Enter new : 12
12 * 7 = 84

In [3]:
for tabNums in range(2,9):
    print("-------------")
    for num in range(1,11):
        print(f'{tabNums} * {num} = {tabNums * num}')

-------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
-------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
-------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
-------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
-------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
-------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
-------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

# List comprehension

In [4]:
a = [1,2,3,4,5,6,7,8,9]
square = []
for num in a:
    square.append(num**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
[ num**2 for num in range(1,10)] #square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
[ num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]

In [7]:
[ num**3 for num in range(1,10)] #cube

[1, 8, 27, 64, 125, 216, 343, 512, 729]