0

44

In [20]:
A=16;
B=15;
C = A % B // A
print(C)

0

In [19]:
A=16;
B=15;
C = A % B // A
print(C)
x = int(43.55 + 2/2)
print(x)
if (9 < 0) and (0 < -9):
   print("hello")
elif (9 > 0) or False: 
   print("good") 
else: 
   print("bad")
print('{0:.2}'.format(1/3))
not(10<20) and not(10>30)
list1 = [2445,133,12454,123]
y = max(list1)
print(y)
numbers = [1, 2, 3, 4] 
numbers.append([5,6,7,8]) 
print(len(numbers))

SyntaxError: invalid character in identifier (<ipython-input-19-9c995aabce2a>, line 18)

In [1]:
num = ((2 * 4) * 4) + 2
num

34

In [2]:
num = ( 2 * 4) * (4 + 2)
print(num)

48

In [3]:
total_cost = 4+(3*4)
print(total_cost)

16

In [4]:
x = (2*4)*(4+2)
print(x)

48

In [6]:
x = ((2 * 4) * 4) + 2
print(x)

34

In [7]:
x = ((2*4) * 4) + 2
x

34

In [8]:
x = (2 * 4 * 4) + 2
x

34

In [11]:
y = 0
x = 5 / (7 * (y - 1))
x

-0.7142857142857143

In [13]:
x = ((1-y)* 7)/ 5
x

1.4

In [18]:
num1 = int(input("Enter a number: "))
if num1 == 2:
    print("you win")
else :
    print("try again!")

Enter a number: 2
you win

In [21]:
list1 = [2, 33, 222, 14, 25]
list1[:-1]
print(list1)

[2, 33, 222, 14, 25]

In [22]:
list1 = [2, 33, 222, 14, 25]
list1[-1]
print(list1)

[2, 33, 222, 14, 25]

In [34]:
 # >>names = ['Amir', 'Bear', 'Charlton', 'Daman']
#>>>print(names[-1][-1])

In [35]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman','hell0','new']
#names2 = names1
#names3 = names1[:]
new = names1[:]
print(new)

['Amir', 'Bear', 'Charlton', 'Daman', 'hell0', 'new']

In [37]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'
sum = 0
for ls in (names1, names2, names3):
   if ls[0] == 'Alice':
     sum += 1
   if ls[1] == 'Bob':
      sum += 10

print(sum)

12

In [39]:
list1 = [1,2,3] * 3
print(list1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
name = "mus"
jaz  = 2
if name == "mus" or jaz== 2:
    print("welcome")

welcome

NameError: name 'LIST' is not defined

# List

In [55]:
cities = [1 ,2, "Karachi","Sharjah","Dubai","Lahore"]
cities.append("Islamabad")
cities.append(1)
print(cities)

[1, 2, 'Karachi', 'Sharjah', 'Dubai', 'Lahore', 'Islamabad', 1]

In [56]:
#cities += ["khi","lhr"]

In [57]:
#print(cities)

[1, 2, 'Karachi', 'Sharjah', 'Dubai', 'Lahore', 'Islamabad', 1, 'khi', 'lhr']

In [65]:
#cities.insert(0,"chcek")
#cities

In [83]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[2:]
print(smaller_list_of_cities)
print(cities)

['Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [85]:
del cities[2]
print(cities)

['Baltimore', 'Chicago', 'Los Angeles', 'Seattle']

In [86]:
cities.remove("Chicago")
print(cities)

['Baltimore', 'Los Angeles', 'Seattle']

In [90]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
cities.pop(2)
print(cities)

['Atlanta', 'Baltimore', 'Denver', 'Los Angeles', 'Seattle']

In [103]:
cities.insert(3,1)
print(cities)

[1, 'Denver', 'Los Angeles', 1, 1, 1, 1, 1, 1, 1]

In [117]:

>>>list1 = [11, 2 ,23]
>>>list2 = [11,2,2]
>>>list1 < list2 is

SyntaxError: invalid syntax (<ipython-input-117-f2ebedad5fff>, line 2)

In [109]:
names1 = ['Amir', 'Bala', 'Chales']

if 'amir' in names1:
    print(1)
else:
    print(2)

2

In [2]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
print(len(list1 + list2))

10

a=[1,2,3] 
b=a.append(4) 
print(a) 
print(b)

list1 = (1,2,3)
print(list1)

In [20]:
name = input("Enter your name: ").title()
print(f" Your name is {name}")

Enter your name:
 Your name is

# Dictionaries

# How Pick information out of them

In [22]:
student = {"Firstname" : "Mustafa" , "Lastname" : "Ilahi", "ID" :"SE-2019-276" }
print(student)

{'Firstname': 'Mustafa', 'Lastname': 'Ilahi', 'ID': 'SE-2019-276'}

In [30]:
first_name_of_student = student["Firstname"]
print("The firstname of student is: " + first_name_of_student)
last_name_of_student = student["Lastname"]
print("The firstname of student is: " +last_name_of_student)
id_of_student = student["ID"]
print("The ID of student is: "+ id_of_student)

The firstname of student is: Mustafa
The firstname of student is: Ilahi
The ID of student is: SE-2019-276

# The versatility of keys and values

In [34]:
cities = {5: "Karachi" , 1:"Lahore" , 7: "Islamabad"}
print(cities[5])

Karachi

In [38]:
cities1 = { "Karachi":5 , "Lahore": 1,  "Islamabad": 7}
print(cities["Karachi"])

5

In [47]:
customers = {
    "firstname": "Mustafa",
    "lastname": "Ilahi",
    "ID": "AIC000078",
    "Adress": "House No H-231 DHA Phase VII"
}

for each_value in customers.values():
    print(each_value)
for each_key in customers.keys():
    print(each_key)

Mustafa
Ilahi
AIC000078
House No H-231 DHA Phase VII
firstname
lastname
ID
Adress

In [50]:
for each_value , each_key in customers.items():
    print("Customer's " + each_key + " is "+ each_value)

Customer's Mustafa is firstname
Customer's Ilahi is lastname
Customer's AIC000078 is ID
Customer's House No H-231 DHA Phase VII is Adress

In [51]:
customer_2351 = {
    "firsname": "jazzy",
    "lastname": "torato",
    "lits" : ["name" ,"fname","name hi name"],
}

In [52]:
print(customer_2351)

{'firsname': 'jazzy', 'lastname': 'torato', 'lits': ['name', 'fname', 'name hi name']}